---
export interface ButtonParams {
	href?: string
	label?: string
	primary?: boolean
	sizes?: 'text-xs' | 'text-sm' | 'text-base' | 'text-lg' | 'text-xl' | 'text-2xl'
	classes?: string
	[key: string]: any
}

const {
	href,
	label,
	primary = false,
	sizes = 'text-base',
	classes = '',
	...rest
} = Astro.props as ButtonParams

const className =
	`rounded-md px-7 py-3.5 text-shadow-sm text-shadow-black shadow-black/50 shadow-sm border-neutral-700 border inline-flex w-fit hover:bg-neutral-800 hover:text-white font-semibold transition-all duration-300 hover:shadow-md hover:text-shadow-md no-underline ${classes} ${sizes} ${primary ? 'bg-neutral-800 text-white' : ''}`.trim()
---

{
	!href ? (
		<button class={className} {...rest}>
			{label ?? <slot />}
		</button>
	) : (
		<a href={href} class={className} {...rest}>
			{label ?? <slot />}
		</a>
	)
}
