---
import { SITE_CONFIG } from '../SiteConfig'

const { meta = {} } = Astro.props

const fallbackTitle = 'Halaman Rahasia 😅'
const siteTitle = SITE_CONFIG.title

// Gunakan pathname dan Astro.site
const pathname = Astro.url?.pathname ?? '/'
const fullUrl = new URL(pathname, Astro.site).href

const title = pathname === '/' ? siteTitle : `${siteTitle} | ${meta.title ?? fallbackTitle}`

const author = SITE_CONFIG.author
const twitter = SITE_CONFIG.twitter
const description = meta.description ?? SITE_CONFIG.description
const keywords = (meta.keywords ?? SITE_CONFIG.keyword).join(', ')

// Pastikan thumbnail full URL
function makeAbsoluteUrl(url: string) {
	return url.startsWith('https') ? url : new URL(url, Astro.site).href
}
const thumbnail = makeAbsoluteUrl(meta.thumbnail ?? SITE_CONFIG.thumbnail)
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<meta name="theme-color" content="#0f172a" />
	<link rel="canonical" href={fullUrl} />

	<!-- START: FAVICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png" />
	<link rel="icon" type="image/png" sizes="512x512" href="/favicons/android-chrome-512x512.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
	<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
	<link rel="manifest" href="/favicons/site.webmanifest" />
	<!-- END -->

	<!-- Open Graph -->
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={thumbnail} />
	<meta property="og:url" content={fullUrl} />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content={siteTitle} />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={thumbnail} />
	<meta name="twitter:site" content={twitter} />

	<!-- SEO -->
	<title>{title}</title>
	<meta name="author" content={author} />
	<meta name="description" content={description} />
	<meta name="keywords" content={keywords} />
	<meta name="language" content="id" />
	<meta name="robots" content="index, follow" />
	<meta name="copyright" content={`© ${new Date().getFullYear()} ${author}`} />
</head>
