---
import { Icon } from 'astro-icon/components'
import { timeFormat } from '../utils/timeFormat'
const { items } = Astro.props
---

<nav class="flex flex-col gap-2">
	{
		items.map((item: any) => {
			const href = `/${item.id}/`
			const title = item.data.title
			const timeIso = new Date(item.data.date).toISOString()
			const fullDate = timeFormat(item.data.date, true)
			const simpleDate = timeFormat(item.data.date, false)
			const featured = item.data.featured

			return (
				<a href={href} class="grid border-t border-t-neutral-700 py-5 group">
					<span class="text-xl text-white flex items-center gap-2 group-hover:text-amber-500">
						<span>{title}</span>
						{featured && (
							<Icon name="icon-sparkles" class="size-5 text-amber-500" />
						)}
					</span>
					<time datetime={timeIso} class="text-sm text-neutral-400">
						<span>Create On: </span>
						<span class="hidden lg:inline">{fullDate}</span>
						<span class="lg:hidden">{simpleDate}</span>
					</time>
				</a>
			)
		})
	}
</nav>
