---
import { Icon } from 'astro-icon/components'
import { timeFormat } from '../utils/timeFormat'
const { items } = Astro.props
---

<nav class="flex flex-col gap-2">
  <h2 class="text-2xl text-white pb-3 border-b border-b-neutral-700">All Notes</h2>
	{
		items.map((item: any) => {
			const href = `/${item.id}/`
			const title = item.data.title
			const timeIso = new Date(item.data.date).toISOString()
			const fullDate = timeFormat(item.data.date, true)
			const simpleDate = timeFormat(item.data.date, false)
			const featured = item.data.featured

			return (
				<a href={href} class="grid py-3 px-6 border border-neutral-700 rounded-lg shadow-sm shadow-black group">
					<strong class="flex gap-1 items-center group-hover:text-amber-500">
						<span>{title}</span>
						{featured && <Icon name="icon-sparkles" class="size-4 text-amber-500" />}
					</strong>
					<time datetime={timeIso} class="text-neutral-400 text-sm">
						<span>Create On: </span>
						<span class="hidden lg:inline">{fullDate}</span>
						<span class="lg:hidden">{simpleDate}</span>
					</time>
				</a>
			)
		})
	}
</nav>
